header {
 text-align:center; 
}
.img-intro {
  border: 1px solid #fff;
  border-radius: 50em;
  width: 25em;
}
body{
 background-color:#272727;
 color:#fff;
 font-family: 'Quicksand', sans-serif;
}
/* nav ul{
display:inline;

} */
nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 2em;
    padding: 0 1em;
}
